.student-name,
.student-id {
	font-weight: bold;
	color: green;
}

.course-title {
	font-weight: normal;
	font-style: italic;
}

.assignment-title {
	color: red;
}

#chart {
	text-align: center;
}

#chart .chart-title {
	font-weight: normal;
	margin: 0;
}

#highlightYearForm {
	margin: 20px 0;
	text-align: center;
}